<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="com.abylsen.rental.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi"
            apply="always">
      </fragment>
      <processor
            apply="always"
            beforefragment="false"
            class="com.abylsen.rental.ui.AffichageCommandes">
      </processor>
   </extension>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            class="com.abylsen.rental.ui.prefs.RentalColorPage"
            id="com.abylsen.rental.ui.color.page"
            name="rental colors">
      </page>
      <page
            class="com.abylsen.rental.ui.prefs.LoginPreferencePage"
            id="com.abylsen.rental.ui.login.page"
            name="login">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.abylsen.rental.ui.prefs.DefaultValues">
      </initializer>
   </extension>

</plugin>
